<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>BarRobot V1.0</title>

<!-- Bootstrap Core CSS -->
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<!-- Custom CSS -->
<link href="../static/css/one-page-wonder.css"
	th:href="@{/css/one-page-wonder.css}" rel="stylesheet" />
</head>

<body>
	<noscript>
		<h2 style="color: #ff0000">Seems your browser doesn't support
			Javascript! Websocket relies on Javascript being enabled. Please
			enable Javascript and reload this page!</h2>
	</noscript>

	<div class="se-pre-con"></div>

	<div class="row" align="center">
		<div class="col-xs-6">
			<img id="beerCheers" class="img-responsive" height="200" width="200"
				align="middle" src="../static/img/drink.gif" style="opacity: 0.4;"
				th:src="@{/img/drink.gif}" hspace="20" vspace="20" />
		</div>
		<div class="col-xs-6">
			<h1 style="font-size: 500%; color: white;">Let's have a drink</h1>
			<h2 style="color: lightgrey;">Lego Bar Robot</h2>
		</div>
	</div>

	<!-- Page Content -->
	<div class="container">
		<hr class="featurette-divider" />

		<!-- Here to Place my Order Pictures in or div modules -->
		<div id="orderRoom" class="row">
			<div class="col-xs-12">
				<p>Please Order:</p>
			</div>

			<form class="form-inline">
				<div align="center" class="col-xs-12">

					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button id="gin" type="submit" class="btn btn-primary">
								<img th:src="@{/img/drinksImage/gin.png}"
									src="../static/img/drinksImage/gin.png" height="150"
									width="150" />
								<h3>GIN</h3>
							</button>

						</div>

						<div class="btn-group">
							<button id="rum" type="submit" class="btn btn-primary">
								<img th:src="@{/img/drinksImage/rum.png}"
									src="../static/img/drinksImage/rum.png" height="150"
									width="150" />
								<h3>RUM</h3>
							</button>
						</div>

					</div>
				</div>
				<div align="center" class="col-xs-12">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button id="whiskey" type="submit" class="btn btn-primary">
								<img th:src="@{/img/drinksImage/whiskey.png}"
									src="../static/img/drinksImage/whiskey.png" height="150"
									width="150" />
								<h3>WHISKEY</h3>
							</button>
						</div>
						<div class="btn-group">
							<button id="tequila" type="submit" class="btn btn-primary">
								<img th:src="@{/img/drinksImage/tequila.png}"
									src="../static/img/drinksImage/tequila.png" height="150"
									width="150" />
								<h3>TEQUILA</h3>
							</button>
						</div>
					</div>
				</div>
			</form>

		</div>
		<!--  toogle if busy or not -->
		<div align="center" id="waitingRoom" class="row">
			<div class="col-xs-12">
				<h1 class="alert alert-danger">Mixing, keep calm and enjoy</h1>
				<img id="drinkImg" class="img-responsive" height="405" width="720"
					align="middle" src="../static/img/drink-is-mixing.gif"
					style="opacity: 0.6;" th:src="@{/img/drink-is-mixing.gif}" />
			</div>
		</div>


		<hr class="featurette-divider" />

		<div id="Control Section to View" class="row">
			<h1>
				<p>Control Section</p>
			</h1>
			<audio src="music/jazz.wav" controls="true" type="audio/wav"
				autoplay="true" loop="true"> If you are reading this, it is
				because your browser does not support the audio element.
			</audio>
			<div class="col-xs-12">
				<p>Websocket</p>
				<form class="form-inline">
					<div class="form-group">
						<button id="connect" class="btn btn-default" type="submit">Connect</button>
						<button id="disconnect" class="btn btn-default" type="submit"
							disabled="disabled">Disconnect</button>
						<div id="connected" class="alert alert-danger">Disconnected</div>
					</div>
				</form>
				<div class="row">
					<div class="col-xs-12">
						<div class="normal-text">Busy?:</div>
						<div class="normal-text" id="busy">No data available</div>
					</div>
				</div>
				<div  class="row">
					<h1><p>Manual Controll</p></h1>
					<div class="normal-text">Backward: Arrow left </div>
					<div class="normal-text">Forward: Arrow right </div>
					<div class="normal-text">Pump Controll UP: A </div>
					<div class="normal-text">Pump Controll DOWN Y </div>
					<div class="normal-text">Pump: Q</div>
				</div>
				<br></br>
				<table class="table">
					<thead>
						<tr>
							<th class="normal-text">Log</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="websocket-logs">
					</tbody>
				</table>
			</div>
		</div>

		<hr class="featurette-divider" />

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>BarRobot Project | Nils Bott</p>
				</div>
			</div>
		</footer>

	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script
		src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script
		src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Key Event JavaScript -->
	<script src="../static/js/inout.js" th:src="@{/js/inout.js}"></script>

	<!-- Websocket JavaScript -->
	<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"
		th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
		th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>

	<!--  witing animation -->
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

</body>

</html>